@{ 
    // Se Creo para Prueba General
    //var cookie = Request.Cookies["MiCookie"];
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <link rel="stylesheet" href="~/Content/comentario.css" />
    <link rel="stylesheet" href="~/Content/DetalleImagen.css" />
    <link rel="stylesheet" href="~/Content/ListaImagenes.css" />
    <link rel="stylesheet" href="~/Content/NuevaFoto.css" />
    <link rel="stylesheet" href="~/Content/Carrusel.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-Lfjzt+1oR6k5ZSJQkmzURJs7GwzPXoxY7Eq3V8SmVmOMeRuLToj6kGak+2tx76dsh8IerFvKmvlGAGqDvRvU9g==" crossorigin="anonymous" />


    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="float: left;">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Todas las Fotos", "Index", "Fotos")</li>
                    <li>@Html.ActionLink("Carrusel", "Carrusel", "Fotos")</li>
                    @if (Request.Cookies["MiCookie"] != null)
                    {
                        <li>@Html.ActionLink("Favoritos", "Favoritos", "Fotos")</li>

                        if (Request.Cookies["MiCookie"]["idRol"] == "1")
                        {
                            <li>@Html.ActionLink("Usuarios", "Index", "Usuarios")</li>
                        }
                    }
                </ul>
                @if (Request.Cookies["MiCookie"] != null)
                {
                    <ul class="nav navbar-nav" style="float: right;">
                        <li><a style="font-weight: bold; text-decoration: none">@Request.Cookies["MiCookie"]["usuario"]</a></li>
                        <li>@Html.ActionLink("Salir", "Logout", "Usuarios")</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav" style="float: right;">
                        <li>@Html.ActionLink("Login", "Login", "Usuarios")</li>
                        <li>@Html.ActionLink("Registrarse", "Create", "Usuarios")</li>
                    </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center;">
            <p>&copy; @DateTime.Now.Year - Diego Ramírez - Todos los Derechos Reservados</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/formularioComentario.js"></script>
    <script src="~/Scripts/nuevaFoto.js"></script>
    <script src="~/Scripts/eliminarFoto.js"></script>
    <script src="~/Scripts/Carrusel.js"></script>
</body>
</html>